html, body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url("./cursor.png"), auto;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    user-select: none;
}
#inner {
    width: 320px;
    height: 180px;
    image-rendering: pixelated;
}
#playarea {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    
}
#contexttext {
    width: auto;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 0.5em;
    color: antiquewhite;
    transform: scale(0.5);
    z-index: 420;
}
#interface {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    color: antiquewhite;
}
.dot {
    width: 1px;
    height: 1px;
    background-color: red;
    position: relative;
    border-radius: 50%;
}
.choice-a {
    background-color: grey;
}
.choice-a:hover {
    background-color: lightgrey;
}